* {
    text-align: center;
    justify-items: center;
}

body {
    background-color: #a6aa8a;
    font-family: Georgia;
}

#topdesign {
    margin-bottom: 6cm;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

.logodesign {
    color:#4a6369;
}

.lefttop {
    text-align: left;
}

.righttop {
    text-align: right;
}

.hrdes {
    color: #936b47;
}

.category {
    color: #502c1b;
    font-family: cursive;
    font-style: oblique;
}

.menu {
    background-color: #dfc1a9;
    width: 40pc;
    height: 30pc;
}

.price {
    border: solid #a8835d;
    background-color: #43473e;
    color: #b69b7d;
    font-family: cursive;
    font-size:x-small;
    width: 3cm;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}



.menu td {
    border: solid #ecd495;

}

.menu label {
    font-size: x-small;
}

